@import '_variables.scss';
@import '_mixins.scss';

header{
  @include flex(space-evenly, center);
  background-color: $grey;
  height: 20vh;

  a {
    text-decoration: none;
  }

  h1 {
    color: $off-white;
    font-family: $cursive;
    font-size: 64px;
    cursor: pointer;
  }

  nav {
    @include flex(space-evenly, center);
    height: 100%;
    width: 45%;
    
    a {
      color: $off-white;
      font-size: 16px;
      text-decoration: none;
      padding: 2% 4%;
      border-radius: 50px;
      cursor: pointer;

      &:hover {
        color: $grey;
        background-color: $off-white;
      } 
    }
  }
}

main {
  @include flex(space-evenly, center);
  height: 80vh;
  width: 100%;

  .error {
    font-size: 30px;
    color: $grey;
  }
}